@font-face 
    font-family: 'PFDinTextCondPro-Thin'
    src: url('../../fonts/PF Din Text Cond Pro.ttf')
    
*
    margin: 0
    padding: 0
    box-sizing: border-box

.createArticle 
    display: block
    width: 90%
    margin-left: auto
    margin-right: auto
    padding-bottom: 1.5%
    &-container
        padding-top: 1vw
        padding-left: 1vw
        &-text
            width: 70%
            &-title
                display: block
                font-family: 'Podkova Bold'
                margin-bottom: 1vw
                font-size: 2vw
            &-line 
                width: 30%
                height: 0.2vw
                background-color: #0D274C
                margin-top: 1vw
                margin-bottom: 1vw
                border: none
        &-main
            &-images
                &-container
                    display: grid
                    width: 70%
                    justify-content: start
                    grid-template-columns: repeat(5, 1fr)
                    &-input
                        display: none
                    &-field
                        display: grid
                        justify-content: center
                        align-items: center
                        width: 80%
                        height: 8vw
                        margin-left: 1vw
                        margin-top: 1vw
                        font-size: 3vw
                        color: #0D274C
                        text-align: center
                        border: 1px solid #0D274C
                        border-radius: 0.7vw
                        background-color: white
                        transition: .4s
                        &:hover
                            cursor: pointer
                            transform: scale(1.1)
            &-buttonContainer
                display: flex
                justify-content: space-between
                width: 55%
                .createArticleButton
                    height: 3vw

