* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Goznak Semi Bold";
  src: url("../../../../fonts/ofont.ru_Goznak.ttf");
}
@font-face {
  font-family: "Hero Light";
  src: url("../../../../fonts/ofont.ru_Hero.ttf");
}
body {
  background-color: #B7D1E0;
  padding-top: 1.5%;
}
body .App {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}
body .App .background-fone {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body .App .background-fone .logo {
  display: block;
}
body .App .background-fone .logo-main {
  display: flex;
  justify-content: center;
}
body .App .background-fone .logo-main-img {
  display: block;
  width: 13vw;
  height: 14vw;
}
body .App .background-fone .logo-main-img-png {
  display: block;
  width: 13vw;
  height: 14vw;
}
body .App .background-fone .logo-main-text {
  text-align: center;
  font-family: "Goznak Semi Bold";
  font-size: 7vw;
  line-height: 1;
}
body .App .background-fone .logo-lines {
  display: flex;
  justify-content: center;
  margin-top: 0.5vw;
}
body .App .background-fone .logo-lines-left {
  height: 0.5px;
  background-color: #1C4E55;
  width: 20%;
  margin-top: 1vw;
  border: none;
}
body .App .background-fone .logo-lines-img {
  margin-left: 1vw;
  margin-right: 1vw;
}
body .App .background-fone .logo-lines-img-icon {
  font-size: 2vw;
  color: #1C4E55;
}
body .App .background-fone .logo-lines-right {
  height: 0.5px;
  background-color: #1C4E55;
  width: 20%;
  margin-top: 1vw;
  border: none;
}
body .App .background-fone .logo-slogan {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body .App .background-fone .logo-slogan-text {
  display: block;
  text-align: center;
  margin-top: 1vw;
  font-family: "Hero Light";
  font-size: 2vw;
}
body .App .background-fone .logo .solid-line {
  display: flex;
  justify-content: center;
}
body .App .background-fone .logo .solid-line-hr {
  width: 44%;
  height: 0.5px;
  margin-top: 2.5vw;
  border: none;
  background-color: #1C4E55;
}
body .App .background-fone .form-container {
  display: flex;
  justify-content: center;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
body .App .background-fone .form-container-search {
  display: flex;
  justify-content: center;
  width: 45%;
  height: 40px;
}
body .App .background-fone .form-container-search-input {
  width: 85%;
  margin-right: 2%;
  padding-left: 3%;
  border: none;
  border-radius: 1vw;
}
body .App .background-fone .form-container-search-input::placeholder {
  font-family: "Hero Light";
  font-style: bold;
  font-size: 1vw;
  color: #1C4E55;
}
body .App .background-fone .form-container-search-input:focus {
  outline: solid 1px #1C4E55;
}
body .App .background-fone .form-container-search-btn {
  width: 10%;
  background-image: url("../../img/search_img.png");
  background-size: none;
  background-repeat: no-repeat;
  border-width: 0.5px;
  border-color: #1C4E55;
  border-radius: 1vw;
  background-color: #DBD962;
}
body .App .background-fone .form-container-search-btn .fa-magnifying-glass {
  font-family: font-awesome;
  font-size: 2vw;
  color: #1C4E55;
}
