@font-face 
    font-family: 'AA Stetica Light' 
    src: url('../../../fonts/AA Stetica.ttf')
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

.categoryElementsContainer 
    width: 100%
    text-align: center
    &-item        
        display: block 
        font-family: 'AA Stetica Light' 
        font-size: 4vw
        margin-top: 2vw
        color: #0D274C
        text-decoration: none
    &-item::first-child
        margin-top: 0