@font-face 
    font-family: 'PFDinTextCondPro-Thin'
    src: url('../../fonts/PF Din Text Cond Pro.ttf')
    
*
    margin: 0
    padding: 0
    box-sizing: border-box

.navigation
    display: block
    margin-left: auto
    margin-right: auto
    &-container
        display: flex
        justify-content: space-around
        padding-top: 2vh
        &-item
            display: block
            font-family: 'PFDinTextCondPro-Thin'
            text-align: center
            word-break: break-all
            text-decoration: none
            color: #0D274C

            transition: 0.4s
        &-item:hover
            text-decoration: underline
            transform: scale(1.4)

            transition: 0.4s
        .active
            text-decoration: underline