@font-face {
  font-family: "Lato Regular";
  src: url("../../../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Hero Light";
  src: url("../../../fonts/ofont.ru_Hero.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.articlesRedact {
  position: fixed;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 999;
  transform: scale(0);
}
.articlesRedact-content {
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.5%;
  padding-bottom: 2%;
  border-radius: 12px;
}
.articlesRedact-content-text {
  display: grid;
  justify-items: center;
}
.articlesRedact-content-text-title {
  font-family: "Hero Light";
  font-size: 3vw;
  margin-bottom: 0.4%;
}
.articlesRedact-content-text-line {
  display: block;
  width: 85%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}
.articlesRedact-content-text-annotation {
  width: 100%;
  font-family: "Hero Light";
  font-size: 1.2vw;
}
.articlesRedact-content-forms {
  position: relative;
}
.articlesRedact-content-forms-articlesTitle-hint {
  display: inline-block;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  background-color: #1e3700;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-top: 1%;
  font-family: "Hero Light";
  color: #dbd962;
}
.articlesRedact-content-forms-articlesTitle-input {
  width: 75%;
  height: 3vw;
  padding-left: 0.7%;
  padding-right: 0.7%;
  font-family: "Hero Light";
  font-size: 1.3vw;
  border: 0.7px solid #1e3700;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.articlesRedact-content-forms-articlesTitle-input::placeholder {
  font-family: "Hero Light";
  font-size: 1.3vw;
}
.articlesRedact-content-forms-articlesTitle-input:focus {
  box-shadow: 0 0 7px 0 #50c1c9;
  outline: none;
}
.articlesRedact-content-forms-articlesText-hint {
  display: inline-block;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  background-color: #1e3700;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-top: 1%;
  font-family: "Hero Light";
  color: #dbd962;
}
.articlesRedact-content-forms-textareaForm {
  margin-bottom: 1%;
}
.articlesRedact-content-forms-textareaForm-textarea {
  width: 75%;
  resize: none;
  font-family: "Hero Light";
  font-size: 1.3vw;
  border: 0.7px solid #1e3700;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-left: 0.7%;
  padding-right: 0.7%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  height: 30vw;
}
.articlesRedact-content-forms-textareaForm-textarea::placeholder {
  font-family: "Hero Light";
  font-size: 1.3vw;
}
.articlesRedact-content-forms-textareaForm-textarea:focus {
  box-shadow: 0 0 7px 0 #50c1c9;
  outline: none;
}
.articlesRedact-content-forms-textareaForm-btn {
  display: block;
  width: 25%;
  padding: 1%;
  background-color: #dbd962;
  color: #1e3700;
  font-family: "Hero Light";
  font-size: 1.3vw;
  border-radius: 12px;
  outline: none;
  border: none;
  margin-top: 1%;
}
.articlesRedact-content-forms-articlesCategory-hint {
  display: inline-block;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  background-color: #1e3700;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-top: 1%;
  font-family: "Hero Light";
  color: #dbd962;
}
.articlesRedact-content-forms-articlesCategory-category {
  width: 75%;
  height: 3vw;
  padding-left: 0.7%;
  padding-right: 0.7%;
  font-family: "Hero Light";
  font-size: 1.3vw;
  border: 0.7px solid #1e3700;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.articlesRedact-content-forms-articlesCategory-category:focus {
  box-shadow: 0 0 7px 0 #50c1c9;
  outline: none;
}
.articlesRedact-content-forms-articlesImages-hint {
  display: inline-block;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  background-color: #1e3700;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-top: 1%;
  font-family: "Hero Light";
  color: #dbd962;
}
.articlesRedact-content-forms-articlesImages-manyInputs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1%;
  justify-items: center;
  width: 75%;
  padding: 0.7%;
  border: 0.7px solid #1e3700;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.articlesRedact-content-forms-articlesImages-manyInputs-label {
  position: relative;
  height: 10vw;
  width: 10vw;
  border: 4px #1e3700 dashed;
  border-radius: 12px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.articlesRedact-content-forms-articlesImages-manyInputs-label-image {
  position: absolute;
  width: 6vw;
  height: 6vw;
  left: 20%;
  top: 20%;
  color: #50c1c9;
}
.articlesRedact-content-forms-articlesImages-manyInputs-label-input {
  position: absolute;
  height: 10vw;
  width: 10vw;
  border-radius: 12px;
  cursor: pointer;
  opacity: 0;
}
.articlesRedact-content-forms-articlesQuotes-hint {
  display: inline-block;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  background-color: #1e3700;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  margin-top: 1%;
  font-family: "Hero Light";
  color: #dbd962;
}
.articlesRedact-content-forms-articlesQuotes-input {
  width: 75%;
  height: 3vw;
  padding-left: 0.7%;
  padding-right: 0.7%;
  font-family: "Hero Light";
  font-size: 1.3vw;
  border: 0.7px solid #1e3700;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.articlesRedact-content-forms-articlesQuotes-input:focus {
  box-shadow: 0 0 7px 0 #50c1c9;
  outline: none;
}
.articlesRedact-content-forms-articlesQuotes-input:nth-child(n + 2) {
  margin-top: 0.8%;
  border-top-left-radius: 12px;
}
.articlesRedact-content-lastForm {
  display: grid;
  grid-template-columns: repeat(2, 25%);
  gap: 1.5%;
}
.articlesRedact-content-lastForm-btn {
  padding: 5%;
  background-color: #DBD962;
  font-family: "Hero Light";
  font-size: 1.3vw;
  border-radius: 12px;
  border: none;
}
.articlesRedact-content-lastHint {
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: "Hero Light";
  font-size: 1vw;
  color: #1e3700;
}

.active {
  transform: scale(1);
}
