* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.articles {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.articles-exemplar {
  width: 100%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}
.articles-exemplar-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.articles-exemplar-photo-img {
  width: 85%;
  border-top-left-radius: 1.2vw;
  border-top-right-radius: 1.2vw;
}
.articles-exemplar-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}
.articles-exemplar-text-title {
  display: block;
  width: 100%;
  font-family: "Hero Light";
}
